header {
  background-color: var(--primary-color);
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 5px 5px var(--secondary-color); */
}

.name {
  margin: 0px;
  font-weight: 900;
  font-size: 7rem;
}

.title {
  margin: 0px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--third-color);
}

@media (max-width: 768px) {
  .name {
    margin: 0px;
    font-weight: 900;
    font-size: 5rem;
  }
}
