.socials-container {
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socials-logo {
  /* background-color: aqua; */
  padding: 5px;
  width: 3rem;
  height: 3rem;
}
